@charset "UTF-8";
#eye-password {
	width: 25px;
    height: 15px;
    position: absolute;
    right: 5px;
    margin-top: 12px;
    top: 1px;
    text-align: center;
}

#main-login-body{
	width:450px;
	/* border:1px solid black; */
	margin-left:800px;
	margin-top:200px;
}